<a href="https://colab.research.google.com/github/hsuanhan0/Introduction-to-Computers/blob/main/0523ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
sum=0
test=int(input("請輸入一個正整數:"))
for n in range (1,test+1):
  sum=sum+n
print(f"1到{test}的整數和為{sum}")

請輸入一個正整數:2
1到2的整數和為3

In [5]:
sum=0
test=int(input("請輸入一個正整數:"))
for m in range (1,test+1):
  sum=sum+m
  print(f"1到{m}的整數和為{sum}")

請輸入一個正整數:50
1到1的整數和為1
1到2的整數和為3
1到3的整數和為6
1到4的整數和為10
1到5的整數和為15
1到6的整數和為21
1到7的整數和為28
1到8的整數和為36
1到9的整數和為45
1到10的整數和為55
1到11的整數和為66
1到12的整數和為78
1到13的整數和為91
1到14的整數和為105
1到15的整數和為120
1到16的整數和為136
1到17的整數和為153
1到18的整數和為171
1到19的整數和為190
1到20的整數和為210
1到21的整數和為231
1到22的整數和為253
1到23的整數和為276
1到24的整數和為300
1到25的整數和為325
1到26的整數和為351
1到27的整數和為378
1到28的整數和為406
1到29的整數和為435
1到30的整數和為465
1到31的整數和為496
1到32的整數和為528
1到33的整數和為561
1到34的整數和為595
1到35的整數和為630
1到36的整數和為666
1到37的整數和為703
1到38的整數和為741
1到39的整數和為780
1到40的整數和為820
1到41的整數和為861
1到42的整數和為903
1到43的整數和為946
1到44的整數和為990
1到45的整數和為1035
1到46的整數和為1081
1到47的整數和為1128
1到48的整數和為1176
1到49的整數和為1225
1到50的整數和為1275

In [13]:
for j in range(1,6):
  print(j)
  for i  in range(1,3):
    k=i*j
    print(f"{j}*{i}={k}")

1
1*1=1
1*2=2
2
2*1=2
2*2=4
3
3*1=3
3*2=6
4
4*1=4
4*2=8
5
5*1=5
5*2=10

In [16]:
for h in range(1,6):
  print(h)
  for s in range(1,3):
    print(f"{h}*{s}={h*s}")

1
1*1=1
1*2=2
2
2*1=2
2*2=4
3
3*1=3
3*2=6
4
4*1=4
4*2=8
5
5*1=5
5*2=10

In [19]:
for i in range (1,6):
  if (i==4):
    continue
  print(i,end=" ")

1 2 3 5

In [21]:
count=0
for string in "測試看看!":
  count +=1
  if string == "看":
    break
  print(string) 
print("迴圈結束!")
print(f"迴圈執行了{count}次")

測
試
迴圈結束!
迴圈執行了3次

In [25]:
for a in range(1,10):
  for b in range(1,10):
    print(f"{b}*{a}={a*b}",end="\t")
  print()

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [28]:
a=int(input("請輸入a的值:"))
b=int(input("請輸入b的值:"))
m=1
for m in range(a,0,-1):
  if a % m ==0 and b % m==0:
    break
print(f"{a}和{b}的最小公倍數為{a*b/m:.0f}")

請輸入a的值:4
請輸入b的值:6
4和6的最小公倍數為12

In [31]:
num=int(input("請輸入正整數:"))
for n in range(1,num+1):
  if n % 5 ==0:
    continue
  print(n)

請輸入正整數:21
1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21