<a href="https://colab.research.google.com/github/hsuanhan0/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(123)

123

In [2]:
list1=[1,2,3,4,5]

In [3]:
list1

[1, 2, 3, 4, 5]

In [5]:
print(list1[0])

1

In [6]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [9]:
print(list5[1][0])

mary

In [14]:
score=[85,79,93]
subject=["國文","數學","英文"]
for n in range(0,3):
  print(f"{subject[n]}成績:{score[n]}")

國文成績:85
數學成績:79
英文成績:93

In [11]:
print(list6)

(['國文成績', '85分'], ['數學成績', '79分'], ['英文成績', '93分'])

In [15]:
list7=["banana","apple","orange"]

In [17]:
for n in list7:
  print(n,end=",")

banana,apple,orange,

In [19]:
list8=[123,"apple",True]
for n in list8:
  print(n)

123
apple
True

In [21]:
scores=[85,79,93]
for score in range(len(scores)):
  print(scores[score])

85
79
93

In [23]:
score=[85,79,93]
subject=["國文","數學","英文"]
for n in range(len(score)):
  print(f"{subject[n]}成績:{score[n]}")

國文成績:85
數學成績:79
英文成績:93

In [26]:
num=[1,2,3]
name=["tom","mary","tony"]
for ans in range(len(num)):
  print(f"編號:{ans+1} 姓名:{name[ans]}")

編號:1 姓名:tom
編號:2 姓名:mary
編號:3 姓名:tony